In [ ]:
'''
1. Create a CSV file called “Movies.csv” with details of 10 movies- Movie Name, Language, Genre, Rating, Review. 
a. Read CSV file into a dataframe and find the movie with the highest rating. 
b. Write the details of all “Hindi movies into a file “HindiMovies.csv”. 
'''
# Week 5, Code 1
# Nityant Agarwal, CC, 240953418

In [24]:
import pandas as pd
import numpy as np

In [8]:
path_to_movies = "Movies.csv"
movie_data = pd.read_csv(path_to_movies)
movie_data

         Movies  Language      Genre  Rating            Review
0        Pushpa     Hindi     Action     4.5             Great
1      Pushpa 2   Kannada     Action     3.0           Average
2     Bahuballi     Hindi  Adventure     4.0             Scary
3         Venom   English     Sci-fi     3.4          Thriller
4  Interstellar     Hindi     Action     2.0           Amazing
5         Sonic  Japanese  Animation     2.0       Interesting
6         Kalki     Hindi     Sci-fi     4.0              Cool
7     One piece  Japanese  Adventure     4.7  Great story line
8        Barbie   English    Romance     5.0          Relaxing
9       Golmaal     Hindi     Comedy     4.8             Funny

In [10]:
movie_data.loc[movie_data.Rating == movie_data.Rating.max()]

   Movies Language    Genre  Rating    Review
8  Barbie  English  Romance     5.0  Relaxing

In [12]:
hindi_movies = movie_data[movie_data.Language == 'Hindi']
hindi_movies.to_csv('HindiMovies.csv',index=False)

In [14]:
path_to_hindi_movies = "HindiMovies.csv"
hindi_movie_data = pd.read_csv(path_to_hindi_movies)
hindi_movie_data

         Movies Language      Genre  Rating   Review
0        Pushpa    Hindi     Action     4.5    Great
1     Bahuballi    Hindi  Adventure     4.0    Scary
2  Interstellar    Hindi     Action     2.0  Amazing
3         Kalki    Hindi     Sci-fi     4.0     Cool
4       Golmaal    Hindi     Comedy     4.8    Funny

In [ ]:
'''
2. For the  CEREALS dataset, perform data preprocessing and answer the following questions.  
a. Create a table with the 5 number summary of all the numeric attributes. 
b. For each of the numeric attributes (proteins upto vitamins) ,
identify and replace all missing data(indicated with ?) with the arithmetic mean of the attribute. 
c. Create a table with the 5 number summary of all the numeric attributes after treating missing values.  
d. For each numeric attribute (proteins upto vitamins), identify and replace all noisy data with the median of attribute.  
e. Create a table with the 5 number summary of all the numeric attributes after treating noisy values.  
'''
# Week 5, Code 2
# Nityant Agarwal, CC, 240953418

In [16]:
path_to_cereals = "Cereals.csv"
cereal_data = pd.read_csv(path_to_cereals)
cereal_data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,?,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

In [18]:
cereal_data.describe().loc[['min', '25%', '50%', '75%', 'max']]

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
min,50.0,1.0,0.0,0.0,0.00,0.0,1.0,0.5,0.25,18.042851
25%,100.0,2.0,0.0,132.5,0.75,25.0,1.0,1.0,0.67,32.932466
50%,110.0,2.5,1.0,180.0,1.75,25.0,2.0,1.0,0.75,40.253086
75%,110.0,3.0,2.0,212.5,3.00,25.0,3.0,1.0,1.00,50.780847
max,160.0,6.0,5.0,320.0,14.00,100.0,3.0,1.5,1.50,93.704912

In [26]:
cereal_data = cereal_data.replace('?', np.nan)
l = ['carbo', 'sugars', 'potass']
cereal_data[l] = cereal_data[l].apply(pd.to_numeric, errors='coerce')
cereal_data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10.0,70.0,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21.0,3.0,60.0,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13.0,12.0,25.0,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17.0,3.0,115.0,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17.0,3.0,110.0,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16.0,8.0,60.0,25,1,1.0,0.75,36.187559

In [28]:
print(cereal_data.dtypes)
cereal_data.describe().loc[['min', '25%', '50%', '75%', 'max']]

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars      float64
potass      float64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
min,50.0,1.0,0.0,0.0,0.00,7.0,0.0,15.00,0.0,1.0,0.5,0.25,18.042851
25%,100.0,2.0,0.0,132.5,0.75,12.0,3.0,41.25,25.0,1.0,1.0,0.67,32.932466
50%,110.0,2.5,1.0,180.0,1.75,15.0,7.0,90.00,25.0,2.0,1.0,0.75,40.253086
75%,110.0,3.0,2.0,212.5,3.00,17.0,11.0,120.00,25.0,3.0,1.0,1.00,50.780847
max,160.0,6.0,5.0,320.0,14.00,23.0,15.0,330.00,100.0,3.0,1.5,1.50,93.704912

In [30]:
numeric_columns = ['protein', 'fat', 'sodium', 'fiber', 'carbo', 'sugars', 'potass', 'vitamins']
cereal_data[numeric_columns] = cereal_data[numeric_columns].apply(lambda x: x.fillna(x.mean()))
cereal_data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8.0,8.0,135.000000,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.000000,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8.0,0.0,330.000000,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14.0,8.0,96.216216,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10.0,70.000000,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21.0,3.0,60.000000,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13.0,12.0,25.000000,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17.0,3.0,115.000000,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17.0,3.0,110.000000,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16.0,8.0,60.000000,25,1,1.0,0.75,36.187559

In [32]:
cereal_data.describe().loc[['min', '25%', '50%', '75%', 'max']]

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
min,50.0,1.0,0.0,0.0,0.00,7.000000,0.0,15.00,0.0,1.0,0.5,0.25,18.042851
25%,100.0,2.0,0.0,132.5,0.75,12.000000,3.0,43.75,25.0,1.0,1.0,0.67,32.932466
50%,110.0,2.5,1.0,180.0,1.75,14.966667,7.0,90.00,25.0,2.0,1.0,0.75,40.253086
75%,110.0,3.0,2.0,212.5,3.00,17.000000,11.0,120.00,25.0,3.0,1.0,1.00,50.780847
max,160.0,6.0,5.0,320.0,14.00,23.000000,15.0,330.00,100.0,3.0,1.5,1.50,93.704912

In [34]:
def is_noisy(value, column):
    Q1 = cereal_data[column].quantile(0.25)
    Q3 = cereal_data[column].quantile(0.75)
    IQR = Q3 - Q1
    return value < (Q1 - 1.5 * IQR) or value > (Q3 + 1.5 * IQR)

In [36]:
for column in numeric_columns:
    median = cereal_data[column].median()
    cereal_data[column] = cereal_data[column].apply(lambda x: median if is_noisy(x, column) else x)

In [38]:
cereal_data.describe().loc[['min', '25%', '50%', '75%', 'max']]

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
min,50.0,1.00,0.0,15.0,0.000,7.000000,0.0,15.00,25.0,1.0,0.5,0.25,18.042851
25%,100.0,2.00,0.0,147.5,0.750,12.000000,3.0,43.75,25.0,1.0,1.0,0.67,32.932466
50%,110.0,2.25,1.0,180.0,1.625,14.966667,7.0,90.00,25.0,2.0,1.0,0.75,40.253086
75%,110.0,3.00,2.0,212.5,3.000,17.000000,11.0,110.00,25.0,3.0,1.0,1.00,50.780847
max,160.0,4.00,5.0,320.0,6.000,23.000000,15.0,230.00,25.0,3.0,1.5,1.50,93.704912